@font-face {
    font-family: 'Retro Computer Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Retro Computer Regular'), url('../Retro\ Computer.woff') format('woff');
}

h1 {
    /* font-size: 5rem; */
    font-family: 'Retro Computer Regular';
    font-weight: 300;
    color: rgb(122, 49, 7);    
    letter-spacing: 7px;
}